html {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

body {
  width: 800px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  flex-wrap: wrap;
  flex-flow: flex-direction;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #595E63;
  -webkit-font-smoothing: antialiased;
  margin:auto;
}

input {
  text-indent: 1px;
}

#today {
  margin-top: 72px;
  margin-bottom: 36px;
  font-size: 30px;
  line-height: 41px;
}

.title {
  width: 100%;
  margin-bottom: 24px;
  font-size: 20px;
  background: transparent;
  border: none;
  line-height: 27px;
  color: #595E63;
}

.title:focus {
  outline: none;
}

.add-item-btn {
  display:inline-block;
  cursor: pointer;
  font-weight: 700;
  color: #595E63;
  opacity: 0.5;
  margin-left: 34px;
  cursor: text;
}

::-webkit-input-placeholder {
  color: #595E63;
  opacity: 0.5;
  letter-spacing: 0.5px;
}

::selection { 
  background: #E7EEF9;
  color: #185AC8;
}


.item {
  margin-bottom: 14px;
}

.text-task {
  width: 600px;
  margin-left: 18px;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #595E63;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.strikeout{
  text-decoration: line-through;
  opacity: 0.5;
}

.text-task:focus {
  outline: none;
  color: #28292A;
  border:0;
  outline: 0;
  border-bottom: 1px solid #D8D8D8;
  transition: all 0.5s ease;
}

.add-list-btn {
  float: left;
  color: white;
}

.add-list-btn:hover {
  font-size: 20px;
  color: #595E63;
}

#center {
}

.list {
  margin-bottom: 36px;
}

.form-check-input {
  margin-top:10px;
  margin-right: 10px;
}


/*.checkbox-task {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: red;

  }
}*/

#spread-feature {
  margin-top: auto;
  margin-bottom: 50px;
}



