html {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

body {
  width: 800px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  flex-wrap: wrap;
  flex-flow: flex-direction;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #595E63;
  -webkit-font-smoothing: antialiased;
  margin:auto;
}

input {
  text-indent: 1px;
}

#center {
}

#today {
  margin-top: 72px;
  margin-bottom: 36px;
  font-size: 30px;
  line-height: 41px;
  -webkit-user-select: none;
}

::-webkit-input-placeholder {
  color: #595E63;
  opacity: 0.5;
  letter-spacing: 0.5px;
}

::selection {
  background: #F4F4F4;
  color: #292B2D;
  text-shadow: 0 2px 5px rgba(0,0,0,0.20);
}

/*ITEM*/

.item {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}

.text-task {
  min-width: 10px;
  margin-left: 15px;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 15.5px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #595E63;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.text-task.placeholder-task[contenteditable] {
    display: inline-block;
}
.text-task.placeholder-task[contenteditable]:empty::before {
    content: 'Empty task';
    display: inline-block;
    opacity: 0.5;
}
.text-task.placeholder-task[contenteditable]:empty:focus::before {
    content: 'Type something';
}

.text-task:focus {
  outline: none;
  color: #28292A;
  border:0;
  outline: 0;
  border-bottom: 1px solid #D8D8D8;
  transition: border-bottom 0.5s ease;
}

.strikeout{
  text-decoration: line-through;
  opacity: 0.5;
}

#hide{
  display:none;
  font-weight: 600;
  font-size: 15.5px;
  line-height: 22px;
  letter-spacing: 0.5px;
  white-space: pre;
  text-indent: 1px;
}

.form-check-input {
  margin-top:10px;
  margin-right: 10px;
}

.checkbox-task {
  display: none;
}

.path-ckb {
  stroke-dasharray: 39, 41;
  stroke-dashoffset: 40;
}

.label-task-ckb {
  border: 2px solid #A5BCCC;
  border-radius: 3px;
  width:20px;
  height: 20px;
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.label-task-ckb.checked{
  border: 2px solid #185AC8;
  background-color: #185AC8;
}

#spread-feature {
  margin-top: auto;
  margin-bottom: 50px;
}

/*ADD ITEM BUTTON*/

.add-item-btn {
  display:inline-block;
  cursor: pointer;
  font-weight: 700;
  color: #595E63;
  opacity: 0.5;
  margin-left: 40px;
  cursor: text;
}

/*LIST*/

.list {
  position: relative;
  margin-bottom: 36px;
}

.parent-settings {
  display: inline;
}

.title {
  /*width: 100%;*/
  margin-bottom: 22px;
  font-size: 20px;
  background: transparent;
  border: none;
  line-height: 27px;
  color: #595E63;
}

.title.placeholder-task[contenteditable] {
    display: inline-block;
}
.title.placeholder-task[contenteditable]:empty::before {
    content: 'Empty Title';
    display: inline-block;
    opacity: 0.5;
}
.title.placeholder-task[contenteditable]:empty:focus::before {
    content: 'Type something';
}

.title:focus {
  outline: none;
}

#hide2{
  display:none;
  font-size: 20px;
  line-height: 27px;
}

/*ADD LIST BUTTON*/

.add-list-btn {
  float: left;
  font-size: 20px;
  color: #595E63;
  opacity: 0.5;
  margin-bottom: 72px;
}

.add-list-btn:hover {
  font-size: 20px;
  color: #595E63;
}

/*LIST SETTINGS*/

.list-settings {
  display: none;
  position: absolute;
  transform: translateX(-100%);
  top: 0px;
  left: 0px;
  padding-right: 7px;
}

.setting-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 10px;
  cursor: pointer;
  transition: all .3s ease;
}

.delete-btn:hover {
  background-color: #F1F1F1;
}

.archive-btn {
  display: none;
}

.icon-delete {
  position: relative;
  display: block;
  margin: auto;
  top: 8px;
}
